body {
    margin: .5rem;
    font-family: "Helvetica Neue", "Liberation Sans", Arial, FreeSans, sans-serif;
}

h1 {
    font-size: 2rem;
    color: $dark-grey;
    text-align: center;
    margin: 1rem 0;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;

    img {
        vertical-align: middle;
    }
}

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > li {
        margin: .5rem;
        border: 1px solid $mid-grey;

        > a {
            display: block;
            color: $mid-grey;
            line-height: 4rem;
            text-align: center;

            &:hover {
                background: $light-grey;
            }

            &:active {
                background: $mid-grey;
                color: rgb(255, 255, 255);
            }
        }
    }
}

main {
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 2rem 0;
    width: 35rem;
}

nav.top-nav {
    display: flex;
    justify-content: center;
}

.heading, .footing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

@media print {
    #search-form,
    .previous > a,
    .next > a,
    .footing .book,
    footer {
        display: none;
    }

    .container {
        width: auto;
        margin: 0;
    }
}
