/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: .5rem;
    font-family: "Helvetica Neue", "Liberation Sans", Arial, FreeSans, sans-serif;
}

h1 {
    font-size: 2rem;
    color: rgb(68, 68, 68);
    text-align: center;
    margin: 1rem 0;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    /* text-decoration: none; */
}

ol {
    margin: 0;
    padding: 0;
    text-align: center;
}

ol > li {
    display: inline-block;
    list-style-type: none;
    margin: .5rem;
    border: 1px solid rgb(97, 97, 97);
    text-align: center;
}

ol > li > a {
    color: rgb(97, 97, 97);;
    font-size: 1.25rem;
    display: block;
    line-height: 4rem;
    text-decoration: none;
}

ol > li > a:hover {
    background: rgb(221, 221, 221);
}

ol > li > a:active {
    background: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
}

.container {
    max-width: 35rem;
    margin: 2rem auto;
}

nav.top-nav, nav.bottom-nav {
    text-align: center;
}

.heading .previous {
    display: inline-block;
    width: 15%;
    text-align: left;
}

.heading h1 {
    display: inline-block;
    width: 67%;
    text-align: center;
}

.heading .next {
    display: inline-block;
    width: 15%;
    text-align: right;
}

img.logo {
    vertical-align: middle;
}

/* Bible Page */

.all-books ol > li {
    width: 28%;
    height: 4rem;
}

@media screen and (max-width: 600px) {
    .all-books ol > li {
        width: 42%;
    }
}

.all-books ol > li > a {
    font-size: 1rem;
}

/* Book Page */

.book ol > li {
    width: 4rem;
    height: 4rem;
}

/* Chapter Page */

.chapter article {
    clear: both;
}

.chapter article p {
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.chapter article p > a {
    font-size: .75rem;
}

.chapter article p:target {
    padding: .25rem;
    background-color: rgb(221, 221, 221);
    border-radius: 1px;
}

/* Search */

.search-results ol > li {
    padding: .5rem;
    text-align: left;
    width: 100%;
}

.search-results ol > li > a {
    font-size: 1rem;
    color: rgb(68, 68, 68);
    line-height: 1;
}

.search-results em {
    text-decoration: underline;
}

/* Autocomplete */

.algolia-autocomplete {
    width: 100%;
}

#q, .algolia-autocomplete .aa-input {
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 1px;
    margin-top: 5px;
    padding: 10px 16px;
    transition: box-shadow 300ms ease-in-out;
    box-shadow: 0 0 0 1px rgb(221, 221, 221), 0 0 0 2px transparent;
    color: rgb(97, 97, 97);
    background-color: rgb(255, 255, 255);
}

.algolia-autocomplete .aa-input:focus {
    border-radius: 2px;
    box-shadow: 0 0 8px rgb(7, 141, 216);
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(97, 97, 97);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: .25rem;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: rgb(178, 215, 255);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}
