body {
    font-family: "Helvetica Neue", "Liberation Sans", Arial, FreeSans, sans-serif;
}

h1 {
    color: rgb(68, 68, 68);
    text-align: center;
}

a {
    color: inherit;
    /* text-decoration: none; */
}

ol {
    margin: 0;
    padding: 0;
    text-align: center;
}

ol > li {
    display: inline-block;
    list-style-type: none;
    margin: .5rem;
    border: 1px solid rgb(97, 97, 97);
    text-align: center;
}

ol > li > a {
    color: rgb(97, 97, 97);;
    font-size: 1.25rem;
    display: block;
    line-height: 4rem;
    text-decoration: none;
}

.container {
    max-width: 35rem;
    margin: 2rem auto;
}

nav.top-nav, nav.bottom-nav {
    text-align: center;
}

.heading .previous {
    display: inline-block;
    width: 15%;
    text-align: left;
}

.heading h1 {
    display: inline-block;
    width: 67%;
    text-align: center;
}

.heading .next {
    display: inline-block;
    width: 15%;
    text-align: right;
}

/* Bible Page */

.all-books ol > li {
    width: 28%;
    height: 4rem;
}

.all-books ol > li > a {
    font-size: 1rem;
}

/* Book Page */

.book ol > li {
    width: 4rem;
    height: 4rem;
}

/* Chapter Page */

.chapter article {
    clear: both;
}

.chapter article p {
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.chapter article p > a {
    font-size: .75rem;
}
