{{~ #*inline "page"}}
<div class="container about">
    <nav class="top-nav">
        <a href="/">
            <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
        </a>
    </nav>
    <article>
        <h1>About</h1>
        <p>
            I've often found myself studying the Bible and wanting to simply "find that
            one verse." There are numerous Bible apps and websites that are powerful,
            full-featured, and helpful; yet I seldom need most of these features.
        </p>
        <p>
            Bible.rs is completely free to use, but if you'd like to donate, feel free to
            with <a href="https://paypal.me/DSpeckhals">Paypal</a>.
        </p>
        <h2>Where Bible.rs Shines</h2>
        <ul>
            <li>Simple: just the Bible text.</li>
            <li>Easy-to-navigate: links for everything you might need, referenced by an
                obvious URL scheme (e.g. Psalm/119/105).
            </li>
            <li>
                Easy-to-find: want to find "that one verse?" Just press "S" on your
                keyboard and start typing! You can also search by reference, including
                a wide range of book abbreviations (e.g. "1tim" for "First Timothy").
            </li>
            <li>Speed: all-around quick page loads.</li>
        </ul>
        <h2>The Logo</h2>
        <ul>
            <li>Fire and hammer: the power and efficacy of the Word of God illustrated in <a href="/Jeremiah/23#v29">Jeremiah 23:29</a>.</li>
            <li>Gear: the practicality and industry of the Rust programming language.</li>
        </ul>
        <h2>The Technology</h2>
        <p>
            I built Bible.rs to be a simple, fast, and usable window into the King James
            version of the Bible. The website is lightweight, with JavaScript only used
            for the search box (though it is also fully usable with JavaScript disabled).
            The HTML is meant to be semantic and thus easily machine parsable.
        </p>
        <p>
            The "brains" of Bible.rs are written in <a href="https://www.rust-lang.org/en-US/">Rust</a>,
            a programming language I had toyed around with, but never did anything
            substantial with. That's why this is called "Bible.<em>rs</em>": "rs" is the file
            extension for Rust source files. The data is stored in a single <a href="https://www.sqlite.org/index.html">SQLite</a>
            database, with the actual Bible text sourced from <a href="https://github.com/robertrouse/KJV-bible-database-with-metadata-MetaV-">Robert
            Rouse</a>.
        </p>
        <p>
            I also don't keep any of your personal information. There are no tracking
            cookies or third-party analytic services involved in Bible.rs.
        </p>
        <h2>Ideas for the Future</h2>
        <ul>
            <li>Add more metadata (book author, year written, etc.).</li>
            <li>Add Schema.org metadata to each page.</li>
            <li>Add languages other than English.</li>
            <li>When and if SQLite is ever a bottleneck, switch to a client-server database.</li>
            <li>Make the searching "smart."</li>
        </ul>
        <h2>Contributing</h2>
        <ul>
            <li>Have any ideas? <a href="https://github.com/DSpeckhals/bible.rs/issues/new">File an issue</a>.</li>
            <li>Want to venture into the code? Clone the repository from
                <a href="https://github.com/DSpeckhals/bible.rs">Github</a> and create a pull request.
            </li>
        </ul>
    </article>
</div>
{{~ /inline}}
{{~> base ~}}
