<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#444444">
    <meta name="description" content="Browse and search the King James version of the Bible using a fast and slick interface.">
    <link rel="shortcut icon" href="/static/img/bible.rs.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <form id="search-form" action="/view/search">
            <input type="search" id="q" name="q" autocomplete="off" placeholder="Click or press 'S' to search..." aria-label="Search the Bible">
        </form>
    </header>
    <main>
    {{~> page data}}
    </main>
    <footer>
        <a href="/about" class="about-link" title="About">
            <img src="/static/img/info.svg" alt="info">
            About Bible.rs
        </a>
    </footer>
    <script src="/static/js/autocomplete.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
