{{~ #*inline "page"}}
<div class="container search-results">
    <nav class="top-nav">
        <a href="/">
            <img src="/static/img/bible.rs.svg" alt="BIBLE.RS" height="100" width="100" class="logo">
        </a>
    </nav>
    <h1>
        {{@root.meta.title}}
    </h1>
    <nav>
        <ol>
            {{~ #each matches as |match|}}
            <li>
                <a href="{{match.link.url}}"><strong>{{match.link.label}}</strong> | {{{match.text}}}</a>
            </li>
            {{~ /each}}
        </ol>
    </nav>
</div>
{{~ /inline}}
{{~> base ~}}
