{{~ #*inline "page"}}
<div class="container all-books">
    <h1>{{@root.title}}</h1>
    <nav>
        <ol>
            {{~ #each books as |book|}}
            <li>
                <a href="/bible/{{name}}">{{name}}</a>
            </li>
            {{~ /each}}
        </ol>
    </nav>
</div>
{{~ /inline}}
{{~> base ~}}
