<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <form id="search-form" action="/view/search">
        <input type="search" id="q" name="q" autocomplete="off" placeholder="Click or press 'S' to search...">
    </form>
    <main>
    {{~ #with data}}
    {{~> page ~}}
    {{~ /with}}
    </main>
    <script src="/static/js/autocomplete.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
